<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-logo-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Création du compte !</h1>
                            </div>
                            <% 
                            if(locals.erreur) {
                                %>
                                <div class="alert alert-danger" role="alert">
                                    <%= locals.erreur %>
                                    <% delete locals.erreur %>
                                </div>
                                <%
                            }
                            %>
                            <form action="register" method="post">
                                <div class="form-group">
                                    <input type="text" id="username" name="username"
                                        class="form-control  form-control-user" maxlength="15"
                                        placeholder="Nom d'utilisateur" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="password" name="password"
                                        class="form-control  form-control-user" maxlength="15"
                                        placeholder="Mot de passe" required>
                                </div>
                                <input type="submit" value="Valider" class="btn btn-primary btn-user btn-block">
                                <input type="reset" value="Effacer" class="btn btn-danger btn-user btn-block">
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/login">Tu as déjà un compte ? Identifies toi !</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>