<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <%- include('header'); %>
        <div>
            la valeur passé en paramètre est 
            <% if(locals.id) {
				%> <%= id %> <%
			}
			else {
				%> inconnue <%
			}%>
        </div>
    </div>
</body>
</html>
