<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <%- include('header'); %>
        <div>
            <h1>Liste des utilisateurs</h1>
        </div>
        <br>
        <div>

            <%
            if(locals.users) {
                for(var user of users) {
                %> <p> <%= user.prenom + " " + user.nom %>  </p> <%
                }
            } 
            else {
                %><p>une erreur est survenue</p><%
            }

            %>
        </div>
    </div>
</body>
</html>
